.gallery__column {
  flex: 25%;
  max-width: 25%;
  padding: 0.4rem;

  img {
    margin-top: 0.8rem;
    vertical-align: middle;
  }

  @include respond(tab-port) {
    flex: 50%;
    max-width: 50%;
  }

  @include respond(phone) {
    flex: 100%;
    max-width: 100%;
  }
}
