.section-gallery {
  background-color: $color-grey-light-1;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 80vw;
  margin: auto;
}

.header {
  &--gallery {
    height: 30vh;

    @include respond(tab-port) {
      height: 15vh;
    }
  }
}
