.section-gallery {
  background-color: $color-grey-light-1;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.header {
  &--gallery {
    height: 30vh;
  }

  @include respond(tab-port) {
    height: 15vh;
  }
}
